<div class="cartBox">
  <h1>Cart ID: {{cartId}}</h1>
  {{#each products}}
    {{#each this}}
      <div class="product-card">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p>Precio: ${{price}}</p>
        <p>Cantidad: {{quantity}}</p>
        <button class="remove-from-cart" data-product-id="{{_id}}">Eliminar</button>
      </div>
    {{/each}}
  {{/each}}
  <p>Total: ${{totalPrice}}</p>
  
    <button class="purchase">Terminar Compra</button>
  
  <a href="/products">Volver a la lista de productos</a>
</div>
<script type="module" src="/js/ticketScript.js"></script>
